/* -- Subscribe -- */
.subscribe{
    padding: 40px 130px;
    background: rgb(0, 82, 159);
}

.subscribe h1{
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.subscribe p{
    font-size: 14px;
    color: white;
    opacity: 0.8;
    margin: 10px 0 20px 0;
}

.text-box{
    margin: 10px 0 0 0;
    padding: 18px;
    width: 600px;
    color: rgb(0, 82, 159);
    font-size: 15px;
    letter-spacing: 1px;
    background: white;
    border-radius: 10px;
    outline: none;
    border: none;
}

::placeholder{
    color: rgba(0, 79, 152, 0.5);
}

.subscribe-btn{
    margin-top: 30px;
    padding: 8px 18px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid rgb(255, 229, 152);
    color: rgb(255, 229, 152);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    transition: 300ms;
}

.subscribe-btn:hover{
    color: rgb(209, 98, 79);
    background: rgb(255, 229, 152);
    cursor: pointer;
}

/* -- Desc & Menu -- */
.footer-content{
    margin: 40px 130px;
    display: flex;
    justify-content: space-between;
}

.footer-content h1{
    margin-bottom: 15px;
    color: rgb(0, 53, 65);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-content p{
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 300;
}

.first-col{
    margin-right: 150px;
    flex: 2;
}

.follow-us{
    margin: 15px 0 20px 0;
}

.social-media img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

#twitter img{
    height: 23px;
}

.social-media img:hover{
    transform: scale(1.1);
}

.sec-col{
    margin-right: 150px;
    flex: 1;
}


.footer-content ul li{
    margin-bottom: 10px;
    list-style: none;
}

.footer-content ul li a, .credit{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}

.footer-content ul li a:hover{
    font-weight: 500;
    color: rgb(0, 82, 159);
}

.third-col{
    text-align: right;
    flex: 1;
}

#phone-num{
    margin: 20px 0;
    color: rgb(0, 82, 159);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

#email{
    color: black;
}

.credit{
    text-align: center;
    margin: 0 120px 40px 120px;
    padding-top: 40px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}